.button-login{
    -fx-background-color: #00779c;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
}
.button-login:hover{
    -fx-cursor: hand;
    -fx-background-color: #0984e3;
}
.button-cancel{
    -fx-background-color: #cfd0d1;
    -fx-background-radius: 40px;
    -fx-text-fill: #000000;
}
.button-cancel:hover{
    -fx-cursor: hand;
    -fx-background-color: #646769;
}
.button-exit{
    -fx-background-color: #ffffff;
    -fx-background-radius: 40px;
    -fx-text-fill: #000000;
}
.button-exit:hover{
    -fx-cursor: hand;
    -fx-background-color: #ff5959;
}
.button-admin:hover{
    -fx-cursor: hand;
    -fx-background-color: #0984e3;
    -fx-background-radius : 30 0 0 30;
}
.button-manager:hover{
    -fx-cursor: hand;
    -fx-background-color: #0984e3;
    -fx-background-radius : 30 0 0 30;
}
.button-logout:hover{
    -fx-cursor: hand;
    -fx-background-radius: 40px;
    -fx-background-color:  #ff5959;
}
.button-help:hover{
    -fx-cursor: hand;
    -fx-background-radius: 40px;
    -fx-background-color:  #b89c00;
}
.button-add{
    -fx-background-color: #0063a1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
.button-add:hover{
    -fx-cursor: hand;
    -fx-background-color: #2e86de;
}
.button-update{
    -fx-background-color: #008c54;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
.button-update:hover{
    -fx-cursor: hand;
    -fx-background-color: #2ed573;
}
.button-delete{
    -fx-background-color: #535c68;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
.button-delete:hover{
    -fx-cursor: hand;
    -fx-background-color: #ff5c5c;
}
.button-goto{
    -fx-background-color: #0063a1;
    -fx-background-radius: 30px;
    -fx-text-fill: #ffffff;
}
.button-goto:hover{
    -fx-cursor: hand;
    -fx-background-color: #1e90ff;
}
.landing{
    -fx-background-radius: 40px;
    -fx-background-color:  #ffffff;
}
.button-cancelOne{
    -fx-background-color:  #95afc0;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
.button-cancelOne:hover{
    -fx-cursor: hand;
    -fx-background-color:  #34495e;
}
.textPane{
    -fx-background-color: white;
    -fx-border-color: #808e9b;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
}
.textField{
    -fx-background-color: white;
    -fx-prompt-text-fill: #726d6d;
}
.textLabel{
    -fx-background-color: white;
    -fx-padding: 0 5px 0px 5px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.table-view:focused{
    -fx-background-insets: 0px;
}

.table-view .column-header{
    -fx-size:32px;
    -fx-background-color: #004875;
    -fx-font-size: 14px;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell:empty{
    -fx-background-color: white;
    -fx-font-size: 12px;
}
.table-view .table-row-cell:selected{
    -fx-background-color:linear-gradient(to right, rgba(119, 8, 245, 0.29), rgba(15, 93, 255, 0.39));
}

.table-view .table-row-cell:selected *{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(54, 49, 49);
    -fx-font-size: 13px;
}
.linear-grad {
    -fx-background-color: linear-gradient(to bottom, #00b2cf, #003e47);
}
.liner-title {
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(to left, #00b2cf, #003e47);
}
.liner-navigate {
    -fx-background-color: linear-gradient(to bottom, #003e47, #0097b0);
    -fx-background-radius: 30px;
}

